/* Full page */
*{background-color:burlywood
}
#root{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly; 
}
h1 {
  background-color: blanchedalmond;
  margin-top: 0;
  border: 3px double coral;
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
/* Main list CSS */
.ListWrap {
  margin-top: 15px;
  background-color: rgb(180, 113, 89);
  width: fit-content;
  border: 3px double coral;
}
.AddFunct{
  background-color: blanchedalmond;
  display: flex;
  justify-content: flex-end;
}
button {
  color: white;
  background-color: red;
}
.SubNew{
background-color: wheat;
color: goldenrod;
}
input {
  color:blue;
  background-color: blanchedalmond;

}
.ItemDone {
  text-decoration: line-through;
  opacity: 50%;
  border: 1px solid coral;
  background-color: blanchedalmond;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}
.ItemNot {
  text-decoration: none;
  border: 4px solid coral;
  background-color: blanchedalmond;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}
/* editing section */
.EditTask{
  display: block;
}
.HideEdit{
  display: none
}
/* Archieve section */
.ArchiveWrap{
  margin-top: 15px;
  background-color: rgb(180, 113, 89);
  width: fit-content;
  border: 2px double cornsilk;
}
.ArchItem{
  text-decoration: line-through;
  background-color: rgb(202, 68, 68);
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}